body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
}

.flags {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.flag {
    width: 100px;
}

input {
    padding: 10px;
    width: 80%;
    font-size: 16px;
    margin-top: 10px;
}
